@font-face {
    font-family: Recoleta;
    src: url(recoleta.otf);
}
@font-face{
    font-family:   Circular;
   src: url(circular.ttf);
}
body{
    background: #FBFAF9;
}
.navbar{
    z-index: 0 !important;
    font-family: Circular;
}
header{
    padding-top: 10px;
    background: #4031B7;
    position: relative;
    padding-left: 20px;
    padding-bottom: 100px;
}
.contact .nav-item{
    color: #B6D2E3;
   padding-left: 10px;
   padding-right: 10px;
}
.main-nav .nav-item{
    font-size: 18px;
line-height: 23px;
margin-left: 35px;
}
.main-nav .nav-item a{
    color: #B6D2E3;

}
.main-nav .signup{
    border: 1px solid #B6D2E3;
box-sizing: border-box;
border-radius: 20px;
padding: 0px 20px;

}
.login{
    margin-right: 40px;
}
.bg{
    background-image: url(images/bg.svg);
    background-position: bottom right;
    background-repeat: no-repeat;
    z-index: 100;
    
  
}
.header-img{
    margin-left: auto;
}
.header-img .card{
    border: none  !important;
    border-radius: none !important;
    -webkit-box-shadow: 4px 2px  rgba(48, 32, 175, 0.5),  -40px 0 2px rgba(48, 32, 175, 0.5);
    -moz-box-shadow: 4px 0 2px rgba(48, 32, 175, 0.5),  -40px 0 2px rgba(48, 32, 175, 0.5);
    box-shadow: 4px 0px 2px rgba(48, 32, 175, 0.5),  -40px 20px 2px rgba(48, 32, 175, 0.5);
}
.header-content{
    margin-top: 60px
}
.header-content h5{
    font-family: Recoleta;
    font-size: 64px;
    line-height: 107.21%;
    color: #FFF8F8;
    
}
.header-content p{
    font-family: Circular;
    font-size: 20px;
    line-height: 32px;
    color: #B6D2E3;
    padding-top: 20px;
       
}
.color{
    color: #60CBBE;
}
.getstarted{
    font-family: Circular;
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
background: #60CBBE;
border-radius: 50px;
padding: 11px 21px;

}
.quest{
    font-family: Circular;
    font-size: 16px;
    line-height: 20px;
    margin-left: 30px;
    color: #FFFFFF;   
}
.img-card{
    background: #4031B7;
    padding: 39px;
    border-radius: 50%;
    width: 178px;
height: 178px;
margin: auto;

}
.sec-two{
  padding-top: 100px;
    padding-bottom: 100px;
    background: #FFFFFF;
}
section h3{
    font-family: Recoleta;
    font-size: 48px;
    line-height: 65px;
    color: #111028;
    
}
section .subtitle{
    font-family: Circular;
    font-size: 18px;
    line-height: 23px;
    color: #4F4F4F;
    padding-top: 32px;
}
.sec-two .card{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
    border: none;
}
.sec-two .card .card-body{
    line-height: 16px;
}
.sec-two .card .card-body h3{
    font-family: Century;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    
    
    color: #17162D;    
}
.sec-two .card .card-body p{
    font-family: Circular;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */
    
    
    color: #828282;
    
}
.sec-three{
    background: #FBFAF9;
   padding-top: 100px;
   margin-top: 20px;
   padding-bottom: 100px;
}
.sec-three .card-columns{
    margin-top: 30px;
}
.sec-three .card{
    border: none;
    background: none;
}
.sec-three .card-title{
    font-family: Recoleta;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */
    
    
    color: #17162D;    
}
.sec-three .card-text{
    font-family: Circular;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    
    color: #828282;
       
}
.sec-four{
    position: relative;
    padding-left: 50px;
    background: #FFFFFF;

}
.bg-sec{
    background-image: url(images/Vector.svg);
    background-position: top right;
    background-repeat: no-repeat;
    z-index: 100;
    padding-top: 100px;
    padding-bottom: 70px;
    
}
.prop{
    width: 64px;
    height: 64px;
   border-radius: 50%;
    background: #4031B7;    
    text-align: center;
    padding: 16px 18px;
}
.prop-text{
    line-height: 2px;
    padding: 20px;
    margin-left: 20px;
}
.bg-sec.row .row{
    margin-bottom: 46px;
}
.sec-five{
    position: relative;
    background: #FBFAF9;
   
}

.bg-ted{
    background-image: url(images/Vector.svg);
    background-position: left;
    background-repeat: no-repeat;
    z-index: 100;
    padding-top: 100px;
    padding-bottom: 70px;   
    padding-left: 30px;
    padding-right: 20px;
    width: 100%;
}
.bg-green{
    background: url(images/green.svg);
   background-position: center top;
   background-repeat: no-repeat;
   
}
.bg-red{
    background: url(images/orange.svg);
    background-position: center bottom;
    background-repeat: no-repeat;
}
.exp{
line-height: 16px;
text-align: center;
}
.exp div{
    background: #4031B7;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.exp span{
    font-family: Circular;
    font-size: 14px;
    line-height: 1px;
    text-align: center;

    
    color: #828282;    
}
.sec-five .sec{
    margin-left: auto;
}
@media only screen and (max-width: 1045px){
    .header-img{
        display: none;
    }
    .sec-four .image{
        display: none;
    }
    .bg-sec{
        background-image: none;
        padding-left: none 0px;
    }
    .bg-sec h3 , .bg-sec .sub{
        text-align: center;
    }
    .sec-four{
        padding-left: 20px;
    }
    .sec-five .image{
        display: none;
    }
    .bg-ted{
        background-image: none;
     
    }
}
@media screen and (max-width: 768px){
    section h3{
        font-size: 40px;
        line-height: 35px;
    }
}
@media only screen and (max-width: 576px){
    .bg-ted{
        padding-left: 10px;
        padding-right: 5px !important;
        margin-right: 0px !important;
        width: 103%;
    }
    .bg-green{
        background-image: none;
    }
    .contact{
        display: none;
    }
    header{
        padding-left: 0px;
    }
    .header-content h5{
        font-size: 40px;
    }
    .quest{
        margin-left: 10px;
    }
    .prop-text{
        line-height: 13px;
        margin-left: 30px;
        margin-top: -1pc;
    }
}